.article-info-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'img title title';
  /*  'img votes comments'; */
  margin: 1.5em;
  padding: 1em;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
}
.articles-container {
  overflow: scroll;
  height: 25em;
}

img {
  grid-area: img;
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-size: 1em;
  grid-area: title;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.votes {
  font-size: 1em;
  grid-area: votes;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.comments {
  font-size: 1em;
  grid-area: comments;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.title:hover {
  text-decoration: underline;
}
