.article-info-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: 'img title title' 'img votes comments';
  margin: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.articles-container {
  overflow: scroll;
}

img {
  grid-area: img;
  max-width: 100%;
  max-height: 100%;
}

.title {
  grid-area: title;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.votes {
  font-size: 12px;
  grid-area: votes;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.comments {
  font-size: 12px;
  grid-area: comments;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}
