.article-info-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'img title title'
    'img votes comments';
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
}
.articles-container {
  overflow: scroll;
  height: 50em;
}

img {
  grid-area: img;
  max-width: 100%;
  max-height: 100%;
}

.title {
  padding-left: 0.2em;
  font-size: 1em;
  grid-area: title;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.votes {
  font-size: 1em;
  grid-area: votes;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.heart {
  color: red;
}

.comments {
  font-size: 1em;
  grid-area: comments;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.title:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .articles-container {
    height: 100vh;
  }
}
