.article-container {
  height: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto 2fr 2fr auto auto auto;
  grid-template-areas:
    'article-img article-img article-img'
    '. article-title .'
    '. user-info .'
    '. article-body .'
    '. votes-comment-section .'
    '. comments-section .';
}

.article-img {
  grid-area: article-img;
  overflow: hidden;
}
.article-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-title {
  grid-area: article-title;
  font-size: 2em;
}

.user-info {
  grid-area: user-info;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '. user-profile-picture .' ' votes-section username date-published';
}

.votes-comment-section {
  grid-area: votes-comment-section;
}
.user-profile-picture {
  border-radius: 50em;
  object-fit: cover;
  margin: auto;
  grid-area: user-profile-picture;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.username {
  grid-area: username;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 0.5em;
}
.article-body {
  padding-top: 0.2em;
  grid-area: article-body;
  font-size: 1em;
  padding-bottom: 0.3em;
}
.comments-section {
  grid-area: comments-section;
  overflow: scroll;
  height: 25em;
}
.comments {
  grid-area: comments;
}
@media only screen and (max-width: 600px) {
  .article-container {
    grid-template-rows: auto auto auto auto auto;
    height: 100vh;
  }
  .article-title {
  font-size: 1.5em;
  },
  .user-profile-picture {
    height: 3.5em;
    width: 3.5em;
  }
}