article {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
article > * {
  grid-column: 2;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '. user-profile-picture .' ' votes-section username date-published';
}
.votes-section {
  grid-area: votes-section;
}
.user-profile-picture {
  border: lightcoral solid 1px;
  border-radius: 100%;
  margin: auto;
  grid-area: user-profile-picture;
}

.username {
  grid-area: username;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 0.5em;
}

article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
}
article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
}
