.post-container {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'user-photo comment-body comment-body';
}
.user-photo {
  grid-area: user-photo;
}
.comment-body {
  grid-area: comment-body;
  margin: 1em;
  width: 100%;
  height: 100%;
}

.button-post {
  grid-area: button-post;
  margin: 1em;
}
