.votes-comment-section {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}

.total-votes {
  text-align: start;
  padding-left: 2em;
  padding-right: 2em;
}
.heart {
  font:2em;
}
.thumb-up {
  color: green;
  font-size: 1.5em;
  text-align: center;
}
.thumb-down {
  color: crimson;
  font-size: 1.5em;
  text-align: center;
}
