.homepage {
  grid-gap: 1em;
  height: 100vh;
  display: grid;
  grid-template-rows: 4fr 10fr;
  grid-template-columns: 3fr 3fr 6fr;
  grid-template-areas:
    'dashboard-section dashboard-section main-articles'
    'dashboard-section dashboard-section main-articles';
}

.header-section {
  grid-area: header-section;
}
.dashboard-section {
  grid-area: dashboard-section;
}

.main-articles {
  grid-area: main-articles;
}

@media only screen and (max-width: 600px) {
  .homepage {
    display: flex;
    flex-direction: column;
  }

  .dashboard-section {
    display: flex;
    flex-direction: column;
    height: 8em;
    width: 100%;
    overflow: scroll;
  }
}
