.header-section {
  grid-area: header-section;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 4fr 2fr;
  grid-template-areas:
    'logo login-section'
    'logo nav';
  border-bottom: 1px #1B2737 solid;
  background: #1B2737;
}

.logo {
  grid-area: logo;
  font-family: 'Playfair Display', serif;
}
.home-link {
  grid-area: logo;
  text-decoration: none;
  color: white;
  text-align: start;
}

.login-section {
  grid-area: login-section;
  text-align: end;
}
nav {
  grid-area: nav;
}
