.dashboard {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-areas:
    'Coding'
    'Football'
    'Cooking';
}
.nav-links {
  text-decoration: none;
  color: white;
}

.Coding {
  grid-area: Coding;
  margin-top: 15px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  background: url('https://source.unsplash.com/collection/1129594/250x200');
  background-repeat: no-repeat;
  background-position: center;
}
.Coding .Football .Cooking {
  border-radius: 15%;
}

.Football {
  grid-area: Football;
  margin-top: 15px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  background: url('https://source.unsplash.com/collection/2540303/250x200');
  background-repeat: no-repeat;
  background-position: center;
}

.Cooking {
  grid-area: Cooking;
  margin-top: 5px;
  padding: 40px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  background: url('https://source.unsplash.com/collection/630995/250x200');
  background-repeat: no-repeat;
  background-position: center;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transform: scale(1.05);
  margin: 10px;
}

.fade:hover {
  opacity: 0.5;
}
