.dashboard {
  margin-top: 2em;
  display: grid;
  height: 100vh;
  grid-gap: 1.5em;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-areas:
    'Coding'
    'Football'
    'Cooking';
}
.nav-links {
  text-decoration: none;
  color: white;
  font-size: 2em;
  text-align: end;
}

.Coding {
  width: 100%;
  grid-area: Coding;
  margin-top: 15px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  background: url('https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43ef07555334a21b6c7dcecc929070ce&auto=format&fit=crop&w=1050&q=60');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
}

.Football {
  width: 100%;
  grid-area: Football;
  margin-top: 15px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  background: url('https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=778623bd3624b21b4b8f3cf99f30fb3a&auto=format&fit=crop&w=1050&q=60');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
}

.Cooking {
  width: 100%;
  grid-area: Cooking;
  margin-top: 5px;
  padding: 40px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  background: url('https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7baeff72dbf865f4ca4267cbe433b4cb&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
  background-position: center;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transform: scale(1.05);
  margin: 10px;
}

.fade:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5em;
    height: 5em;
    overflow: scroll;
    overflow-y: hidden;
  }
}
