.comment-section {
  list-style: none;
  width: 100vh;
  padding: 0.1em;
  overflow-y: scroll;
  height: 25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.comments-icon {
  color: #0066CC;
}
.username-comment {
margin-left: 1em;
padding-left: 1em;
}
.comment-box {
  display: grid;
  width: auto;
  height:auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'user-info user-info delete-bin' 'comment-text comment-text comment-text';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid #1B2737 0.2em;
  margin-bottom: 1em;
  background: #1B2737;

}

.user-info-comments {
  height: auto;
  width: auto;
  grid-area: user-info;
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'user-img-comment username-comment';
}

.user-img-comment {
  grid-area: user-img-comment;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  padding: 1em;
}
.delete-bin {
  grid-area: delete-bin;
  color: #0066CC;
}
.comment-text {
  font-size: 1em;
  grid-area: comment-text;
  padding: 1em;
}

.heart {
  grid-area: vote-info;
}
