.comment-section {
  list-style: none;
  width: 100%;
  padding: 10px;
  overflow: scroll;
  height: 25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.comment-box {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'user-info . delete-bin' 'comment-text comment-text vote-info';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-info-comments {
  height: auto;
  width: auto;
  grid-area: user-info;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'username-comment user-img-comment';
}

/* .user-img-comment {
  grid-area: user-img-comment;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  padding-top: 1em;
} */
.delete-bin {
  grid-area: delete-bin;
}
.comment-text {
  font-size: 1em;
  grid-area: comment-text;
  padding-left: 1em;
  padding-top: 0.1em;
}

.heart {
  grid-area: vote-info;
}
